In [24]:
import pandas as pd
import numpy as np

In [25]:
data = pd.read_csv('50_Startups.csv')

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        48 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  49 non-null     float64
 3   State            49 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [27]:
#Find null values
data.isnull().sum()

R&D Spend          2
Administration     0
Marketing Spend    1
State              1
Profit             0
dtype: int64

In [29]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [30]:
data['R&D Spend'] = data['R&D Spend'].fillna(data['R&D Spend'].mean())

In [31]:
data['Marketing Spend'] = data['Marketing Spend'].fillna(data['Marketing Spend'].mean())

In [32]:
data['State'] = data['State'].fillna(data['State'].mode()[0])

In [33]:
#Verify null values ifany

data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [34]:
data

        R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.200000       136897.80    471784.100000    New York  192261.83
1   162597.700000       151377.59    443898.530000  California  191792.06
2   153441.510000       101145.55    407934.540000     Florida  191050.39
3   144372.410000       118671.85    383199.620000    New York  182901.99
4   142107.340000        91391.77    366168.420000     Florida  166187.94
5   131876.900000        99814.71    362861.360000    New York  156991.12
6   134615.460000       147198.87    127716.820000  California  156122.51
7    71981.472708       145530.06    323876.680000     Florida  155752.60
8   120542.520000       148718.95    311613.290000    New York  152211.77
9   123334.880000       108679.17    304981.620000    New York  149759.96
10  101913.080000       110594.11    229160.950000     Florida  146121.95
11   71981.472708        91790.61    210234.904898  California  144259.40
12   93863.750000       127320.38    249839.440000     Florida  141585.52
13   91992.390000       135495.07    252664.930000  California  134307.35
14  119943.240000       156547.42    256512.920000     Florida  132602.65
15  114523.610000       122616.84    261776.230000    New York  129917.04
16   78013.110000       121597.55    264346.060000  California  126992.93
17   94657.160000       145077.58    282574.310000    New York  125370.37
18   91749.160000       114175.79    294919.570000     Florida  124266.90
19   86419.700000       153514.11         0.000000    New York  122776.86
20   76253.860000       113867.30    298664.470000  California  118474.03
21   78389.470000       153773.43    299737.290000    New York  111313.02
22   73994.560000       122782.75    303319.260000     Florida  110352.25
23   67532.530000       105751.03    304768.730000     Florida  108733.99
24   77044.010000        99281.34    140574.810000    New York  108552.04
25   64664.710000       139553.16    137962.620000  California  107404.34
26   75328.870000       144135.98    134050.070000     Florida  105733.54
27   72107.600000       127864.55    353183.810000    New York  105008.31
28   66051.520000       182645.56    118148.200000     Florida  103282.38
29   65605.480000       153032.06    107138.380000    New York  101004.64
30   61994.480000       115641.28     91131.240000     Florida   99937.59
31   61136.380000       152701.92     88218.230000    New York   97483.56
32   63408.860000       129219.61     46085.250000  California   97427.84
33   55493.950000       103057.49    214634.810000     Florida   96778.92
34   46426.070000       157693.92    210797.670000  California   96712.80
35   46014.020000        85047.44    205517.640000    New York   96479.51
36   28663.760000       127056.21    201126.820000     Florida   90708.19
37   44069.950000        51283.14    197029.420000  California   89949.14
38   20229.590000        65947.93    185265.100000    New York   81229.06
39   38558.510000        82982.09    174999.300000  California   81005.76
40   28754.330000       118546.05    172795.670000  California   78239.91
41   27892.920000        84710.77    164470.710000     Florida   77798.83
42   23640.930000        96189.63    148001.110000  California   71498.49
43   15505.730000       127382.30     35534.170000    New York   69758.98
44   22177.740000       154806.14     28334.720000  California   65200.33
45    1000.230000       124153.04      1903.930000    New York   64926.08
46    1315.460000       115816.21    297114.460000     Florida   49490.75
47       0.000000       135426.92         0.000000  California   42559.73
48     542.050000        51743.15         0.000000    New York   35673.41
49       0.000000       116983.80     45173.060000  California   14681.40

In [35]:
#Lets see what the data looks like

data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    71981.472708   121344.639600    210234.904898  112012.639200
std     44987.814369    28017.802755    122162.595979   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     71981.472708   122699.795000    210516.287449  107978.190000
75%     94458.807500   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [36]:
#Lets see the unique count in State variable
data['State'].value_counts()

New York      18
Florida       16
California    16
Name: State, dtype: int64

In [37]:
#define Features and Labels object
features = data.iloc[:,:-1].values
labels = data.iloc[:,-1].values

In [38]:
features

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       [144372.41, 118671.85, 383199.62, 'New York'],
       [142107.34, 91391.77, 366168.42, 'Florida'],
       [131876.9, 99814.71, 362861.36, 'New York'],
       [134615.46, 147198.87, 127716.82, 'California'],
       [71981.47270833333, 145530.06, 323876.68, 'Florida'],
       [120542.52, 148718.95, 311613.29, 'New York'],
       [123334.88, 108679.17, 304981.62, 'New York'],
       [101913.08, 110594.11, 229160.95, 'Florida'],
       [71981.47270833333, 91790.61, 210234.9048979592, 'California'],
       [93863.75, 127320.38, 249839.44, 'Florida'],
       [91992.39, 135495.07, 252664.93, 'California'],
       [119943.24, 156547.42, 256512.92, 'Florida'],
       [114523.61, 122616.84, 261776.23, 'New York'],
       [78013.11, 121597.55, 264346.06, 'California'],
       [94657.16, 145077.58, 282574.31, 'New York'],
       [91749.16, 114175.79, 294919.57, 'Florida'],
       [86419.7, 153514.11, 0.0, 'New York'],
       [76253.86, 113867.3, 298664.47, 'California'],
       [78389.47, 153773.43, 299737.29, 'New York'],
       [73994.56, 122782.75, 303319.26, 'Florida'],
       [67532.53, 105751.03, 304768.73, 'Florida'],
       [77044.01, 99281.34, 140574.81, 'New York'],
       [64664.71, 139553.16, 137962.62, 'California'],
       [75328.87, 144135.98, 134050.07, 'Florida'],
       [72107.6, 127864.55, 353183.81, 'New York'],
       [66051.52, 182645.56, 118148.2, 'Florida'],
       [65605.48, 153032.06, 107138.38, 'New York'],
       [61994.48, 115641.28, 91131.24, 'Florida'],
       [61136.38, 152701.92, 88218.23, 'New York'],
       [63408.86, 129219.61, 46085.25, 'California'],
       [55493.95, 103057.49, 214634.81, 'Florida'],
       [46426.07, 157693.92, 210797.67, 'California'],
       [46014.02, 85047.44, 205517.64, 'New York'],
       [28663.76, 127056.21, 201126.82, 'Florida'],
       [44069.95, 51283.14, 197029.42, 'California'],
       [20229.59, 65947.93, 185265.1, 'New York'],
       [38558.51, 82982.09, 174999.3, 'California'],
       [28754.33, 118546.05, 172795.67, 'California'],
       [27892.92, 84710.77, 164470.71, 'Florida'],
       [23640.93, 96189.63, 148001.11, 'California'],
       [15505.73, 127382.3, 35534.17, 'New York'],
       [22177.74, 154806.14, 28334.72, 'California'],
       [1000.23, 124153.04, 1903.93, 'New York'],
       [1315.46, 115816.21, 297114.46, 'Florida'],
       [0.0, 135426.92, 0.0, 'California'],
       [542.05, 51743.15, 0.0, 'New York'],
       [0.0, 116983.8, 45173.06, 'California']], dtype=object)

In [39]:
labels

array([192261.83, 191792.06, 191050.39, 182901.99, 166187.94, 156991.12,
       156122.51, 155752.6 , 152211.77, 149759.96, 146121.95, 144259.4 ,
       141585.52, 134307.35, 132602.65, 129917.04, 126992.93, 125370.37,
       124266.9 , 122776.86, 118474.03, 111313.02, 110352.25, 108733.99,
       108552.04, 107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
        99937.59,  97483.56,  97427.84,  96778.92,  96712.8 ,  96479.51,
        90708.19,  89949.14,  81229.06,  81005.76,  78239.91,  77798.83,
        71498.49,  69758.98,  65200.33,  64926.08,  49490.75,  42559.73,
        35673.41,  14681.4 ])

In [40]:
#In order to convert categorial data into Numerical data, lets perform one hot encoding on State feature in features
#Dummy Variables
from sklearn.preprocessing import OneHotEncoder
oheState = OneHotEncoder(sparse=False)
fstate = oheState.fit_transform(features[:,3].reshape(-1,1))

In [41]:
features = np.concatenate((features[:,:-1],fstate),axis=1)

In [42]:
#Standardization

from sklearn.preprocessing import StandardScaler
scfeatures = StandardScaler()

In [43]:
#Lets standardize features 
features = scfeatures.fit_transform(features)

In [44]:
#Firstly we are going to deploy a regression model in ML so no need to stadardize label
 #Train Test split 
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(features,labels,test_size=0.2,random_state=50)

In [45]:
print(xtrain.shape)
print(xtest.shape)

(40, 6)
(10, 6)

In [46]:
#Build the Model

from sklearn.linear_model import LinearRegression
modelR = LinearRegression()
modelR.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [47]:
#Check the quality (whether the model is generalized or not)
print('Training Score:',modelR.score(xtrain,ytrain))
print('Test Score:',modelR.score(xtest,ytest))

Training Score: 0.9135433631989957
Test Score: 0.9376829600715654

In [67]:
#so our Test score Accuracy is 93.76%, lets consider that our required CL is 92% .Hence in this case our ML model itself satisfies the goal.
#Lets deploy the model

#Deployment


#Small heuristic for Categoriacl Variable

from sklearn.preprocessing import OneHotEncoder
oheState = OneHotEncoder(sparse=False)
Allowed_states = np.array(['California','New York','Florida'])

fST  =  oheState.fit_transform(Allowed_states.reshape(-1,1))

#1 Getting user input in the form of float
Research_spend = float(input("Enter R&D spend:"))
Adm_spend = float(input("Enter Administration spend:"))
Marketing_spend = float(input("Enter Marketing spend:"))

State=str(input("(Hint:California,New york,Florida) Enter the State:"))

#Performing tranformation for Input value
State = oheState.transform(np.array([[State]]))


#Building Arrays

features = np.array([[Research_spend,Adm_spend,Marketing_spend]])
features = np.concatenate((features,State) , axis = 0)



#Apply Standardization

features_scaled = scfeatures.fit_transform(features)

#4 Prediction
Profit = modelR.predict(features_scaled)

print('Profit Predicted is:',Profit)

Enter R&D spend:6685
Enter Administration spend:5775
Enter Marketing spend:85757
(Hint:California,New york,Florida) Enter the State:New York

ValueError: ignored