In [1]:
import pandas as pd

In [2]:
Fire_dept_data = pd.read_csv('FDNY.csv')

In [3]:
Fire_dept_data

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [5]:
Fire_dept_data1 = Fire_dept_data.drop([0])

In [8]:
Fire_dept_data1.reset_index(drop=True)

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan
...,...,...,...
213,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
214,Engine 167/Ladder 87,345 Annadale Road,Staten Island
215,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
216,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
217,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [9]:
Gby_Fac_name = Fire_dept_data1.groupby('FacilityName')

In [13]:
T = Gby_Fac_name.size()
T

FacilityName
  Engine 96/Ladder 54                            1
Bronx Borough Command, District Office 6 & 7     1
EMS Station 17                                   1
EMS Station 26                                   1
Eng 292/Rescue 4                                 1
                                                ..
Squad 252                                        1
Squad 270/Division 13                            1
Squad 288/Hazmat 1                               1
Squad 41                                         1
Squad 61/Battalion 20                            1
Length: 218, dtype: int64

In [12]:
T.sum()

218

In [14]:
Gby_Borough = Fire_dept_data1.groupby('Borough')

In [15]:
Gby_Borough

In [20]:
Z = Gby_Borough.agg('FacilityName')

In [21]:
Z

In [22]:
Z.size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
Name: FacilityName, dtype: int64

In [23]:
Z.get_group('Manhattan')

1                                    Engine 4/Ladder 15
2                                   Engine 10/Ladder 10
3                                              Engine 6
4     Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
5                                              Ladder 8
6                                     Engine 9/Ladder 6
7                       Engine 15/Ladder 18/Battalion 4
8                                   Engine 28/Ladder 11
9                                              Engine 5
10                                            Engine 55
11                                 Ladder 20/Division 1
12                       Engine 24/Ladder 5/Battalion 2
13                                   Engine 33/Ladder 9
14                                 Ladder 3/Battalion 6
15                                             Squad 18
16                                  Engine 34/Ladder 21
17                                            Engine 26
18                       Engine 3/Ladder 12/Battalion 7
19                                   Engine 1/Ladder 24
20                                            Engine 14
21                                Engine 16 / Ladder 7
22                                            Engine 21
23                       Engine 54/Ladder 4/Battalion 9
24                                            Engine 23
25                                             Rescue 1
26                                  Engine 40/Ladder 35
27               Ladder 25/District Office 4/Division 3
28                                            Engine 74
29                                            Engine 65
30                    Engine 8 / Ladder 2 / Battalion 8
31                                  Engine 39/Ladder 16
32                                            Engine 44
33                     Engine 22/Ladder 13/Battalion 10
34                                  Engine 58/Ladder 26
35                                  Engine 53/Ladder 43
36                                            Engine 91
37                                  Engine 35/Ladder 14
38                     Engine 76/Ladder 22/Battalion 11
39                                            Engine 47
40                                  Engine 59/Ladder 30
41                                  Engine 37/Ladder 40
42                     Engine 69/Ladder 28/Battalion 16
43                                  Engine 80/Ladder 23
44                                  Engine 84/Ladder 34
45                                            Engine 67
46                     Engine 93/Ladder 45/Battalion 13
47                                  Engine 95/Ladder 36
48                                             Marine 1
Name: FacilityName, dtype: object