1. Function : Enumerate

In [1]:
#define a List

store_list = ['Macdonald','Taco Bell','Dunkin','Wendys','Chipotle']

In [3]:
for index,value in enumerate(store_list):
    print(index,value)

0 Macdonald
1 Taco Bell
2 Dunkin
3 Wendys
4 Chipotle

In [4]:
#We can use this function to create a dictionary 

store_map = dict((name,position) for position,name in enumerate(store_list))

In [5]:
store_map

{'Macdonald': 0, 'Taco Bell': 1, 'Dunkin': 2, 'Wendys': 3, 'Chipotle': 4}

2. Function : Sort

In [6]:
sorted([7,43,66,23,768,26,89])

[7, 23, 26, 43, 66, 89, 768]

In [7]:
sorted('The ghost protocol')

[' ',
 ' ',
 'T',
 'c',
 'e',
 'g',
 'h',
 'h',
 'l',
 'o',
 'o',
 'o',
 'o',
 'p',
 'r',
 's',
 't',
 't']

In [8]:
num_list = range(15)

In [9]:
num_list

range(0, 15)

In [10]:
list(reversed(num_list))

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [11]:
subjects = ['Math','Stats','algebra']

In [20]:
subject_count = ['one','two','three']

In [21]:
total_subject = zip(subjects,subject_count)

In [24]:
list(total_subject)

[('Math', 'one'), ('Stats', 'two'), ('algebra', 'three')]

In [26]:
type(total_subject)

zip

Control Flow Statements

In [27]:
#Else Block

In [28]:
age = 21

In [29]:
if age<18:
    print('Minor')
else:
    print('Adult')

Adult

In [30]:
#Nested  if,else ,else if

In [31]:
marks = 81

In [32]:
if marks>90:
    print('Grade A')
elif 80<=marks<=90:
    print('Grade B')
elif 70<=marks<=80:
    print('Grade C')
elif 60<=marks<=70:
    print('Grade D')
else:
    print('Grade F')

Grade B

For Loop

In [33]:
stock_tickers =['AAPL','Macdonalds','ChuckCheeese','Microsoft','Redhat']

In [35]:
for tickers in (stock_tickers):
    if(tickers is 'Microsoft'):
        continue
    print(tickers)

AAPL
Macdonalds
ChuckCheeese
Redhat

In [36]:
for tickers in (stock_tickers):
    if(tickers is 'Microsoft'):
        break
    print(tickers)

AAPL
Macdonalds
ChuckCheeese

While Loop

In [37]:
temperature = 100
while temperature>95:
    print(temperature)
    temperature = temperature - 1

100
99
98
97
96

Exception Handling in Pyhtonm

In [38]:
def test_float(number):
    return float(number)

In [39]:
test_float(65.787)

65.787

In [40]:
test_float(8)

8.0

In [41]:
test_float('Test') #You get an error here as the function doesnot accept string value

ValueError: could not convert string to float: 'Test'

In [42]:
#Lets redefine this function

In [44]:
def test_float2(number):
    try:
        return float(number)
    except ValueError:
        return 'not a number, the input value is',number

In [45]:
test_float2('test')

('not a number, the input value is', 'test')