In [1]:
'''
Agenda:
- Different types of objects in python int, bool, string, float, tuple,list, set, dictionary
- Cheet sheet for reference of these different kinds of objects (sub google drive link "3....")
- Indexing at high level
- Type casting
- Indexing at detailed level (positive, negative indexing)
     Indexing in object inside an object
	Home work – Try indexing tuples inside 
     Indexing with a set
     Indexing a dictionary
- Appending data - in set, lists and tuples
- Updating a list
- Deleting a record
- Operators in Python (membership operator, comparision operator ,logical operator)
- **** Activity on Insurance company****
- Home work
'''

'\nAgenda:\n- Different types of objects in python int, bool, string, float, tuple,list, set, dictionary\n- Cheet sheet for reference of these different kinds of objects (sub google drive link "3....")\n- Indexing at high level\n- Type casting\n- Indexing at detailed level (positive, negative indexing)\n     Indexing in object inside an object\n\tHome work – Try indexing tuples inside \n     Indexing with a set\n     Indexing a dictionary\n- Appending data - in set, lists and tuples\n- Updating a list\n- Deleting a record\n- Operators in Python (membership operator, comparision operator ,logical operator)\n- **** Activity on Insurance company****\n- Home work\n'

In [5]:
# run command with cntrol + enter key
a = 1

In [6]:
a

1

In [7]:
# A

NameError: name 'A' is not defined

In [10]:
# objects are also called variables or identifiers
credit_cards = 4
credit_cards

4

In [12]:
credit_cards+1

5

In [11]:
type(credit_cards)

int

In [12]:
Balance = 1032.6
type(Balance)

float

In [13]:
print(Balance)

1032.6

In [14]:
Balance

1032.6

In [16]:
Balance
type(Balance)

float

In [17]:
print(Balance)
type(Balance)

1032.6

float

In [19]:
print(Balance)
type(Balance)

1032.6

float

In [21]:
print(type(Balance))
print(Balance)

<class 'float'>
1032.6

In [22]:
Cust_name = "Andy Simpson"
# or
Cust_name = 'Andy Simpson'
Cust_name

'Andy Simpson'

In [23]:
type(Cust_name)

str

In [25]:
Is_Male = True
Is_Male

True

In [26]:
type(Is_Male)

bool

In [27]:
Is_Male = False
print(Is_Male)
print(type(Is_Male))

False
<class 'bool'>

In [28]:
# multiple objects together
Credit_cards, Balance = 4, 1089
print(Credit_cards)
print(Balance)

4
1089

In [29]:
Cust_details = ("John",35,True)
Cust_details

('John', 35, True)

In [30]:
type(Cust_details)

tuple

In [31]:
Cust_details[1]

35

In [32]:
Cust_details[1]=36

TypeError: 'tuple' object does not support item assignment

In [9]:
## 2. list - the element can be changed i.e. its mutable
Cust_details = ["John","New york","USA",4,4]
Cust_details

['John', 'New york', 'USA', 4, 4]

In [33]:
# below will not work- because of immutability
cust_info=4
cust_info[0] = 5

TypeError: 'int' object does not support item assignment

In [34]:
cust_info=4
cust_info=5
cust_info

5

In [35]:
x=5
x = x+3
x

8

In [6]:
Cust_details[1]="California"
Cust_details

['John', 'California', 'USA', 4]

In [7]:
type(Cust_details)

list

In [11]:
#3. Set object in python
Auto_survey = set(['BMW', 'BMW','AUDI','Merc', 'Merc','Bentley','Mini Cooper','Suzuki','Hundai'])
#or
Auto_survey = {'BMW', 'BMW','AUDI','Merc', 'Merc','Bentley','Mini Cooper','Suzuki','Hundai'}
print(Auto_survey)
type(Auto_survey)

{'Merc', 'Hundai', 'Bentley', 'AUDI', 'Mini Cooper', 'BMW', 'Suzuki'}

set

In [39]:
Auto_survey = set(['BMW', 'BMW','AUDI','Merc', 'Merc','Bentley','Mini Cooper','Suzuki','Hundai',100,100.0])
Auto_survey

{100, 'AUDI', 'BMW', 'Bentley', 'Hundai', 'Merc', 'Mini Cooper', 'Suzuki'}

In [42]:
# 4. Dictionary
Cust_info = {"Name of Cust":"John Smith","emailid":"JS@gmail.com","Age":45,"Credit_card_status":True}
print(Cust_info)
type(Cust_info)

{'Name of Cust': 'John Smith', 'emailid': 'JS@gmail.com', 'Age': 45, 'Credit_card_status': True}

dict

In [46]:
Cust_info = {"Name of Cust":["John Smith","Andy"],"emailid":["JS@gmail.com","andy@gmail.com"],"Age":[45,34],"Credit_card_status":[True,False]}
Cust_info

{'Name of Cust': ['John Smith', 'Andy'],
 'emailid': ['JS@gmail.com', 'andy@gmail.com'],
 'Age': [45, 34],
 'Credit_card_status': [True, False]}

In [47]:
Cust_info = {"Name of Cust":["John Smith","Andy"],"emailid":["JS@gmail.com"],"Age":[45],"Credit_card_status":[True]}
Cust_info

{'Name of Cust': ['John Smith', 'Andy'],
 'emailid': ['JS@gmail.com'],
 'Age': [45],
 'Credit_card_status': [True]}

In [48]:
import pandas
Panda_Series = pandas.Series([45,34,24,56,89])
Panda_Series

0    45
1    34
2    24
3    56
4    89
dtype: int64

In [49]:
type(Panda_Series)

pandas.core.series.Series

In [50]:
list1 = [34,23,56,(67,34,67,98)]
print(list1)
type(list1)

[34, 23, 56, (67, 34, 67, 98)]

list

In [51]:
list1 = [(34,23,56),(67,34,67,98)]
print(list1)
type(list1)

[(34, 23, 56), (67, 34, 67, 98)]

list

In [52]:
tuple1 = ([2,4,5],989,'Lisa')
print(tuple1)
type(tuple1)

([2, 4, 5], 989, 'Lisa')

tuple

In [53]:
### indexing
Cust_details = ["John",35,True]
print(Cust_details)
print(Cust_details[2])
print(Cust_details[1])
print(Cust_details[0])

['John', 35, True]
True
35
John

In [54]:
Cust_details = ["John",35,"Andy",36,True,False]
print(Cust_details)
print(Cust_details[0:4]) # n-1

['John', 35, 'Andy', 36, True, False]
['John', 35, 'Andy', 36]

In [27]:
list1 = [(34,23,56),(67,34,67,98)]
print(list1[0])
print(list1[1])

(34, 23, 56)
(67, 34, 67, 98)

In [57]:
list1 = [(34,23,56),(67,34,67,98)]
print(list1[0])
print(list1[1])

(34, 23, 56)
(67, 34, 67, 98)
23

In [61]:
print(list1[0][1])
# OR
x = list1[0]
print(x)
print(x[1])

23
(34, 23, 56)
23

In [62]:
# Try all these codes and come up with different scenarios of indexing like if we want 34 to 98 from second tuple etc..

In [63]:
# to be resumed from Slide 22 of Lesson 4

In [65]:
list1 = [3,5,6]
sum(list1)

14

In [68]:
import math
math.sqrt(2)

1.4142135623730951

In [69]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [70]:
dir()

['Auto_survey',
 'Balance',
 'Credit_cards',
 'Cust_details',
 'Cust_info',
 'Cust_name',
 'In',
 'Is_Male',
 'Out',
 'Panda_Series',
 '_',
 '_1',
 '_10',
 '_11',
 '_12',
 '_14',
 '_15',
 '_16',
 '_17',
 '_19',
 '_22',
 '_23',
 '_25',
 '_26',
 '_29',
 '_3',
 '_30',
 '_31',
 '_34',
 '_35',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_50',
 '_51',
 '_52',
 '_58',
 '_59',
 '_6',
 '_65',
 '_66',
 '_68',
 '_69',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'credit_cards',
 'cust_info',
 'exit',
 'get_ipython',
 'list1',
 'math',
 'pandas',
 'quit',
 'tuple1',
 'x']