In [1]:
import numpy as np

In [2]:
countries = np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'
])

In [3]:
countries

array(['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria',
       'Bahamas', 'Bangladesh', 'Belarus', 'Belgium', 'Bhutan', 'Brazil',
       'Bulgaria', 'Cambodia', 'Cameroon', 'Chile', 'China', 'Colombia',
       'Cyprus', 'Denmark', 'El Salvador', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Georgia', 'Ghana', 'Grenada', 'Guinea',
       'Haiti', 'Honduras', 'Hungary', 'India', 'Indonesia', 'Ireland',
       'Italy', 'Japan', 'Kenya', 'South Korea', 'Liberia', 'Malaysia',
       'Mexico', 'Morocco', 'Nepal', 'New Zealand', 'Norway', 'Pakistan',
       'Peru', 'Qatar', 'Russia', 'Singapore', 'South Africa', 'Spain',
       'Sweden', 'Switzerland', 'Thailand', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Venezuela',
       'Vietnam', 'Zimbabwe'], dtype='<U20')

In [4]:
GDP_values = np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605
])

In [5]:
GDP_values

array([ 2255.225482 ,   629.9553062, 11601.63022  , 25306.82494  ,
       27266.40335  , 19466.99052  ,   588.3691778,  2890.345675 ,
       24733.62696  ,  1445.760002 ,  4803.398244 ,  2618.876037 ,
         590.4521124,   665.7982328,  7122.938458 ,  2639.54156  ,
        3362.4656   , 15378.16704  , 30860.12808  ,  2579.115607 ,
        6525.541272 ,   229.6769525,  2242.689259 , 27570.4852   ,
       23016.84778  ,  1334.646773 ,   402.6953275,  6047.200797 ,
         394.1156638,   385.5793827,  1414.072488 ,  5745.981529 ,
         837.7464011,  1206.991065 , 27715.52837  , 18937.24998  ,
       39578.07441  ,   478.2194906, 16684.21278  ,   279.2204061,
        5345.213415 ,  6288.25324  ,  1908.304416 ,   274.8728621,
       14646.42094  , 40034.85063  ,   672.1547506,  3359.517402 ,
       36152.66676  ,  3054.727742 , 33529.83052  ,  3825.093781 ,
       15428.32098  , 33630.24604  , 39170.41371  ,  2699.123242 ,
       21058.43643  , 28272.40661  , 37691.02733  ,  9581.05659  ,
        5671.912202 ,   757.4009286,   347.7456605])

In [6]:
#We need to use argmax method to retrieve Index of Highest GDP

Highest_GDP_Values = np.argmax(GDP_values)

In [7]:
Country_with_Highest_GDP = countries[Highest_GDP_Values]

In [8]:
#Country with Highest GDP is Norway

Country_with_Highest_GDP

'Norway'

In [9]:
#We need to use argmin method of Numpy to retrieve Index of Lowest GDP

Lowest_GDP_Values = np.argmin(GDP_values)

In [10]:
Country_with_Lowest_GDP = countries[Lowest_GDP_Values]

In [11]:
Country_with_Lowest_GDP

'Ethiopia'

In [15]:
#to print out values iteratively

for Country in countries:
    print('Evalating country:',Country)

Evalating country: Algeria
Evalating country: Angola
Evalating country: Argentina
Evalating country: Australia
Evalating country: Austria
Evalating country: Bahamas
Evalating country: Bangladesh
Evalating country: Belarus
Evalating country: Belgium
Evalating country: Bhutan
Evalating country: Brazil
Evalating country: Bulgaria
Evalating country: Cambodia
Evalating country: Cameroon
Evalating country: Chile
Evalating country: China
Evalating country: Colombia
Evalating country: Cyprus
Evalating country: Denmark
Evalating country: El Salvador
Evalating country: Estonia
Evalating country: Ethiopia
Evalating country: Fiji
Evalating country: Finland
Evalating country: France
Evalating country: Georgia
Evalating country: Ghana
Evalating country: Grenada
Evalating country: Guinea
Evalating country: Haiti
Evalating country: Honduras
Evalating country: Hungary
Evalating country: India
Evalating country: Indonesia
Evalating country: Ireland
Evalating country: Italy
Evalating country: Japan
Evalating country: Kenya
Evalating country: South Korea
Evalating country: Liberia
Evalating country: Malaysia
Evalating country: Mexico
Evalating country: Morocco
Evalating country: Nepal
Evalating country: New Zealand
Evalating country: Norway
Evalating country: Pakistan
Evalating country: Peru
Evalating country: Qatar
Evalating country: Russia
Evalating country: Singapore
Evalating country: South Africa
Evalating country: Spain
Evalating country: Sweden
Evalating country: Switzerland
Evalating country: Thailand
Evalating country: United Arab Emirates
Evalating country: United Kingdom
Evalating country: United States
Evalating country: Uruguay
Evalating country: Venezuela
Evalating country: Vietnam
Evalating country: Zimbabwe

In [13]:
for GDP in GDP_values:
    print(GDP)

2255.225482
629.9553062
11601.63022
25306.82494
27266.40335
19466.99052
588.3691778
2890.345675
24733.62696
1445.760002
4803.398244
2618.876037
590.4521124
665.7982328
7122.938458
2639.54156
3362.4656
15378.16704
30860.12808
2579.115607
6525.541272
229.6769525
2242.689259
27570.4852
23016.84778
1334.646773
402.6953275
6047.200797
394.1156638
385.5793827
1414.072488
5745.981529
837.7464011
1206.991065
27715.52837
18937.24998
39578.07441
478.2194906
16684.21278
279.2204061
5345.213415
6288.25324
1908.304416
274.8728621
14646.42094
40034.85063
672.1547506
3359.517402
36152.66676
3054.727742
33529.83052
3825.093781
15428.32098
33630.24604
39170.41371
2699.123242
21058.43643
28272.40661
37691.02733
9581.05659
5671.912202
757.4009286
347.7456605

In [16]:
for i in range(len(countries)):
    country = countries[i]
    GDP = GDP_values[i]
    print('Country:',country,'GDP value:',GDP)

Country: Algeria GDP value: 2255.225482
Country: Angola GDP value: 629.9553062
Country: Argentina GDP value: 11601.63022
Country: Australia GDP value: 25306.82494
Country: Austria GDP value: 27266.40335
Country: Bahamas GDP value: 19466.99052
Country: Bangladesh GDP value: 588.3691778
Country: Belarus GDP value: 2890.345675
Country: Belgium GDP value: 24733.62696
Country: Bhutan GDP value: 1445.760002
Country: Brazil GDP value: 4803.398244
Country: Bulgaria GDP value: 2618.876037
Country: Cambodia GDP value: 590.4521124
Country: Cameroon GDP value: 665.7982328
Country: Chile GDP value: 7122.938458
Country: China GDP value: 2639.54156
Country: Colombia GDP value: 3362.4656
Country: Cyprus GDP value: 15378.16704
Country: Denmark GDP value: 30860.12808
Country: El Salvador GDP value: 2579.115607
Country: Estonia GDP value: 6525.541272
Country: Ethiopia GDP value: 229.6769525
Country: Fiji GDP value: 2242.689259
Country: Finland GDP value: 27570.4852
Country: France GDP value: 23016.84778
Country: Georgia GDP value: 1334.646773
Country: Ghana GDP value: 402.6953275
Country: Grenada GDP value: 6047.200797
Country: Guinea GDP value: 394.1156638
Country: Haiti GDP value: 385.5793827
Country: Honduras GDP value: 1414.072488
Country: Hungary GDP value: 5745.981529
Country: India GDP value: 837.7464011
Country: Indonesia GDP value: 1206.991065
Country: Ireland GDP value: 27715.52837
Country: Italy GDP value: 18937.24998
Country: Japan GDP value: 39578.07441
Country: Kenya GDP value: 478.2194906
Country: South Korea GDP value: 16684.21278
Country: Liberia GDP value: 279.2204061
Country: Malaysia GDP value: 5345.213415
Country: Mexico GDP value: 6288.25324
Country: Morocco GDP value: 1908.304416
Country: Nepal GDP value: 274.8728621
Country: New Zealand GDP value: 14646.42094
Country: Norway GDP value: 40034.85063
Country: Pakistan GDP value: 672.1547506
Country: Peru GDP value: 3359.517402
Country: Qatar GDP value: 36152.66676
Country: Russia GDP value: 3054.727742
Country: Singapore GDP value: 33529.83052
Country: South Africa GDP value: 3825.093781
Country: Spain GDP value: 15428.32098
Country: Sweden GDP value: 33630.24604
Country: Switzerland GDP value: 39170.41371
Country: Thailand GDP value: 2699.123242
Country: United Arab Emirates GDP value: 21058.43643
Country: United Kingdom GDP value: 28272.40661
Country: United States GDP value: 37691.02733
Country: Uruguay GDP value: 9581.05659
Country: Venezuela GDP value: 5671.912202
Country: Vietnam GDP value: 757.4009286
Country: Zimbabwe GDP value: 347.7456605

In [19]:
print('Highest GDP values:',GDP_values.max())

Highest GDP values: 40034.85063

In [20]:
print('Lowest GDP value:',GDP_values.min())

Lowest GDP value: 229.6769525

In [21]:
print('Mean GDP value',GDP_values.mean())

Mean GDP value 11289.409271639683

In [22]:
print('Standard Dev of GDP values:',GDP_values.std())

Standard Dev of GDP values: 12743.828910617945

In [24]:
print('Summation of all GDPs:',GDP_values.sum())

Summation of all GDPs: 711232.7841133