In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('WHO.csv')

In [3]:
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

In [4]:
print("Shape of Dataframe:",df.shape)

Shape of Dataframe: (202, 358)

In [5]:
print("Lenght of DF",len(df))

Lenght of DF 202

In [6]:
print("Column Header od DF",df.columns)

Column Header od DF Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

In [7]:
len(df.columns)

358

In [8]:
print("Data type of DF",df.dtypes)

Data type of DF Country                            object
CountryID                           int64
Continent                           int64
Adolescent fertility rate (%)     float64
Adult literacy rate (%)           float64
                                   ...
Under_five_mortality_from_IHME    float64
Under_five_mortality_rate         float64
Urban_population                  float64
Urban_population_growth           float64
Urban_population_pct_of_total     float64
Length: 358, dtype: object

In [9]:
print("Index",df.index)

Index RangeIndex(start=0, stop=202, step=1)

In [10]:
print("Values",df.values)

Values [['Afghanistan' 1 1 ... 5740436.0 5.44 22.9]
 ['Albania' 2 2 ... 1431793.9 2.21 45.4]
 ['Algeria' 3 3 ... 20800000.0 2.61 63.3]
 ...
 ['Yemen' 200 1 ... 5759120.5 4.37 27.3]
 ['Zambia' 201 3 ... 4017411.0 1.95 35.0]
 ['Zimbabwe' 202 3 ... 4709965.0 1.9 35.9]]

Pandas Series

Accessing Colums in DF

In [11]:
country_col = df['Country']

In [12]:
print('Country data type',type(country_col))

Country data type <class 'pandas.core.series.Series'>

In [13]:
country_col

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, Length: 202, dtype: object

In [14]:
country_col.shape

(202,)

In [15]:
country_col.index

RangeIndex(start=0, stop=202, step=1)

In [16]:
country_col.values

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Dem. Rep.', 'Korea, Rep.', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libyan Arab Jamahiriya', 'Lithuania', 'Luxembourg',
       'Macao, China', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [17]:
country_col.name

'Country'

In [18]:
print('df signs',np.sign(df['Adult literacy rate (%)']))

df signs 0      1.0
1      1.0
2      1.0
3      NaN
4      1.0
      ...
197    1.0
198    NaN
199    1.0
200    1.0
201    1.0
Name: Adult literacy rate (%), Length: 202, dtype: float64

C:\Users\asm1318\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\series.py:853: RuntimeWarning: invalid value encountered in sign
  result = getattr(ufunc, method)(*inputs, **kwargs)

Querying Data by API

In [19]:
pip install Quandl

Requirement already satisfied: Quandl in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (3.5.0)
Requirement already satisfied: inflection>=0.3.1 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from Quandl) (0.4.0)
Requirement already satisfied: python-dateutil in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from Quandl) (2.8.0)
Requirement already satisfied: pandas>=0.14 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from Quandl) (0.25.1)
Requirement already satisfied: more-itertools in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from Quandl) (7.2.0)
Requirement already satisfied: numpy>=1.8 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from Quandl) (1.16.5)
Requirement already satisfied: six in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from Quandl) (1.12.0)
Requirement already satisfied: requests>=2.7.0 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from Quandl) (2.22.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.14->Quandl) (2019.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\asm1318\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import quandl

In [23]:
#data from URL can be fetched now

sunspots = quandl.get("SIDC/SUNSPOTS_A")

In [33]:
sunspots.columns

Index(['Yearly Mean Total Sunspot Number', 'Yearly Mean Standard Deviation',
       'Number of Observations', 'Definitive/Provisional Indicator'],
      dtype='object')

In [25]:
last_date = sunspots.index[-1]

In [26]:
print("Last value",sunspots.loc[last_date])

Last value Yearly Mean Total Sunspot Number        3.6
Yearly Mean Standard Deviation          0.5
Number of Observations              12884.0
Definitive/Provisional Indicator        1.0
Name: 2019-12-31 00:00:00, dtype: float64

In [27]:
#Value Scling by date yyyymmdd format

In [29]:
print("Values slice by date",sunspots["20191231":"20181231"])

Values slice by date Empty DataFrame
Columns: [Yearly Mean Total Sunspot Number, Yearly Mean Standard Deviation, Number of Observations, Definitive/Provisional Indicator]
Index: []

In [30]:
#Quesrying with list of indices

In [31]:
print("Slice from list of indices",sunspots.iloc[[2,4,5,6,7]])

Slice from list of indices             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1702-12-31                              26.7                             NaN
1704-12-31                              60.0                             NaN
1705-12-31                              96.7                             NaN
1706-12-31                              48.3                             NaN
1707-12-31                              33.3                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1702-12-31                     NaN                               1.0
1704-12-31                     NaN                               1.0
1705-12-31                     NaN                               1.0
1706-12-31                     NaN                               1.0
1707-12-31                     NaN                               1.0

In [32]:
print("Boolean Selection",sunspots[sunspots>sunspots.mean()])

Boolean Selection             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               NaN                             NaN
1701-12-31                               NaN                             NaN
1702-12-31                               NaN                             NaN
1703-12-31                               NaN                             NaN
1704-12-31                               NaN                             NaN
...                                      ...                             ...
2015-12-31                               NaN                             NaN
2016-12-31                               NaN                             NaN
2017-12-31                               NaN                             NaN
2018-12-31                               NaN                             NaN
2019-12-31                               NaN                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               NaN
1701-12-31                     NaN                               NaN
1702-12-31                     NaN                               NaN
1703-12-31                     NaN                               NaN
1704-12-31                     NaN                               NaN
...                            ...                               ...
2015-12-31                  8903.0                               NaN
2016-12-31                  9940.0                               NaN
2017-12-31                 11444.0                               NaN
2018-12-31                 12611.0                               NaN
2019-12-31                 12884.0                               NaN

[320 rows x 4 columns]

In [36]:
sunspots['Number of Observations'].tail()

Date
2015-12-31     8903.0
2016-12-31     9940.0
2017-12-31    11444.0
2018-12-31    12611.0
2019-12-31    12884.0
Name: Number of Observations, dtype: float64

In [37]:
sunspots.describe()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
count,320.000000,202.000000,202.000000,320.0
mean,78.735000,7.910891,1628.747525,1.0
std,62.065761,3.866630,2777.697989,0.0
min,0.000000,0.500000,150.000000,1.0
25%,24.575000,4.625000,365.000000,1.0
50%,65.550000,7.600000,365.000000,1.0
75%,115.475000,10.375000,366.000000,1.0
max,269.300000,19.100000,12884.000000,1.0

In [39]:
print('Variance',sunspots.var)

Variance <bound method DataFrame.var of             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               8.3                             NaN
1701-12-31                              18.3                             NaN
1702-12-31                              26.7                             NaN
1703-12-31                              38.3                             NaN
1704-12-31                              60.0                             NaN
...                                      ...                             ...
2015-12-31                              69.8                             6.4
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.5
2018-12-31                               7.0                             1.1
2019-12-31                               3.6                             0.5

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               1.0
1701-12-31                     NaN                               1.0
1702-12-31                     NaN                               1.0
1703-12-31                     NaN                               1.0
1704-12-31                     NaN                               1.0
...                            ...                               ...
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
2017-12-31                 11444.0                               1.0
2018-12-31                 12611.0                               1.0
2019-12-31                 12884.0                               1.0

[320 rows x 4 columns]>