In [1]:
import pandas as pd
import matplotlib.pyplot as plot
%matplotlib inline

In [2]:
df = pd.read_csv("College.csv")

In [3]:
df.columns

Index(['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

In [4]:
df

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

X, y = df.iloc[:,1].values, df.iloc[:,0].values
# male ->1
# female -> 0
target_encoder=LabelEncoder()
y=target_encoder.fit_transform(y)

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
#print(X_train.shape)
x_train=x_train.reshape(-1, 1)
x_test=x_test.reshape(-1, 1)

In [8]:
from sklearn.svm import LinearSVC, SVC
from sklearn import metrics
from sklearn.metrics import classification_report,confusion_matrix
classifier=LinearSVC()
classifier.fit(x_train,y_train)
y_predict=classifier.predict(x_test)
classifier.score(x_test,y_test)

C:\Users\asm1318\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.75

In [9]:
print(confusion_matrix(y_test,y_predict))

[[  0  39]
 [  0 117]]

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X, y = df.iloc[:,1].values, df.iloc[:,0].values
X=scaler.fit_transform(X.reshape(-1, 1))
target_encoder=LabelEncoder()
y=target_encoder.fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print(X_train.shape)

(621, 1)

In [12]:
classifier=SVC()
classifier.fit(x_train,y_train)
classifier.score(x_test,y_test)

C:\Users\asm1318\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.7371794871794872

In [ ]:
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit
C_range=np.logspace(-2,10,3)
gamma_range=np.logspace(-9,3,13)
param_grid=dict(gamma=gamma_range,C=C_range)
grid=GridSearchCV(SVC(),param_grid=param_grid)
grid.fit(x_train,y_train)

C:\Users\asm1318\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [ ]:
print("The Best Parameters are %s  with a score of  % 0.2f " % (grid.best_params, grid.best_score_))